services:
  db:
    image: postgres:16
    container_name: api_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app # bind mount
      - node_modules:/app/node_modules # named volume
      - ${GOOGLE_CLOUD_CREDENTIAL_PATH}:/root/.config/gcloud:ro

volumes:
  pgdata:
  node_modules:
